<section class="quiz-container">
    <p>{{ quizData?.title }}</p>
    
    <div class="quiz-section">
        @for (item of quizData?.questions; track qIndex; let qIndex = $index) {
            <mat-card class="question-section">
                <mat-card-header>
                    <mat-card-subtitle>{{ qIndex+1 }}. {{item.text}}</mat-card-subtitle>
                </mat-card-header>
    
                <mat-card-content>
                    <mat-radio-group aria-label="Select an option" class="radio-group" [required]="item.isRequired" [(ngModel)]="userAnswers[qIndex]">
                        @for (option of item.options; track oIndex; let oIndex = $index) {
                            <mat-radio-button color="primary" [value]="{'questionId': item.questionId, 'selectedOptionId': option.id}">{{option.value}}</mat-radio-button>
                        }
                    </mat-radio-group>
                </mat-card-content>
            </mat-card> 
        }

        <button mat-raised-button color="primary" class="action-button" (click)="handleSubmit()">Submit</button>
    </div>
</section>
